body {
    background-color: #1F2022;
    font-family: "Helvetica Neue";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.project-container {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.project-list {
    border: 1px solid white;
}