/* Reset margin and padding on HTML and body */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

.frontpage {
    background-color: #000;
    color: #fff;
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.frontpage-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 1.3rem;
}

.socials {
    line-height: 3rem;
    margin-top: 5%;
    font-size: 1.1rem;
}

.socials a {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s;
}

.socials a:hover {
    opacity: 0.4;
}

.socials a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    transform-origin: bottom;
    transition: width 0.3s ease;
}

.socials a:hover::before {
    width: 100%;
}
