@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Reset margin and padding on HTML and body */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

.frontpage {
    background-color: #121212; /* Solid dark color */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4jZXTvyvFURQG8N9731poYSE2gha+gop/gMVfQVAQbW0UfAGRUJCWllYo9KKFpYWEBn+DgoL/Aj+Di1CwtrYUbdJN0n5w5s17ZvLmzczuueeec+65Jb4X8hz/EeJ3iOg7EX8johvN9B9ERGtE9JmI6M9E9B0RvYnIHxFxN4noHxFxWUTUHyJiN0T0HyLiGxFxJUT0VyL6GxGdE9GviOhPRHQ3iOhvRDROREQ3iOhfRDQ3It4X8e8S8T2I6B9E9DcielhE9DciuhPRfouIHxFxN4noHxFxLUT0d0R0dyI6F9H9HxFxN4noH0T0b0T0d0R0JyJ6WET0d0T0b0T0W0T0b0T0b0R0N4noH0T0W0R0T0T0XUT0byI6p/rF08WfGtZL7AAAAAElFTkSuQmCC');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100px 100px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.frontpage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 13%;
}

.frontpage-section h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.frontpage-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    opacity: 0.9;
}

/* Social links styling */
.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.socials a:hover {
    transform: scale(1.1);
    opacity: 0.4;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
    .frontpage-section h1 {
        font-size: 3.5rem;
    }

    .frontpage-section p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 992px) {
    .frontpage-section h1 {
        font-size: 3rem;
    }

    .frontpage-section p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .frontpage-section h1 {
        font-size: 2.5rem;
    }

    .frontpage-section p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 576px) {
    .frontpage-section h1 {
        font-size: 2rem;
    }

    .frontpage-section p {
        font-size: 1rem;
    }
}
