/* Reset margin and padding on HTML and body */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

#cv_section {
    height: 100%;
    width: 100%;
}
