@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background: #232c30;
    font-family: 'Montserrat';
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.project-container {
    background-color: #232c30;
    text-align: center;
}
ul {
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    list-style-type: none;
}

li {
    display:inline-block;
    border: 1px solid white;
    border-radius: 2%;
    height: 20px;
    padding: 8px;
    margin-top:20px;
}

li:hover { 
    background-color: black;
}

a {
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
    color: white;
}