.desktop {
    background-color: #1b2a2d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #1b2a2d;
    border: 1px none;
    height: 1000px;
    position: relative;
    width: 1920px;
}

.desktop .group {
    height: 494px;
    left: 350px;
    position: absolute;
    top: 188px;
    width: 439px;
}

.desktop .deniz-isikli {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 65px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 65px;
    position: absolute;
    top: 0;
    width: 437px;
}

.desktop .text-wrapper {
    font-weight: 700;
    line-height: 50px;
}

.desktop .span {
    font-size: 30px;
    line-height: 50px;
}

.desktop .text-wrapper-2 {
    font-size: 25px;
    line-height: 40px;
}

.desktop .text-wrapper-3 {
    font-size: 20px;
    line-height: 40px;
}

.desktop .line {
    height: 1000px;
    left: 959px;
    position: absolute;
    top: 0;
    width: 2px;
}


/* @import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    height: 100%;
    background: #141719;
    font-family: 'Montserrat';
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

// First Half Of The Screen
#intro-container {      
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    border: 1px solid white;
}

#introT {
    color: white;
    width: fit-content;
    margin-top: 5.5em;
    margin-left: 45%;
}

    #introT h1 {
        font-weight: 1000;
        font-size: 2.2rem;
        line-height: 0.5;
        letter-spacing: -.025em;
    }

    #introT h5 {
        font-weight: 550;
        line-height: 1.0em;
        margin-bottom: 5px;
    }

    #introT p {
        width: 100%;
        font-size: 0.70rem;
        font-weight: 300;
        line-height: 1.4em;
        color: lightgrey;
    }

#navbar {
    margin-top: 17em;
    width: 100%;
}

    #navbar ul {
        border: 1px solid yellow;
        text-align:center;
        list-style-type: none;
    }

        #navbar li {
            display:inline-block;
            border-radius: 2%;
        }

            #navbar a {
                color: lightgrey;
            }

                #navbar a:hover { 
                    color: white;
                    border-bottom: 1px solid white;
                }

// Second Half Of The Screen
#project-container {      
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
    border: 1px solid orange;
} */
