@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  height: 100%;
  background: #141719;
  font-family: "Montserrat";
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#intro-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  border: 1px solid white;
}

#introT {
  color: white;
  border: 1px solid white;
  width: fit-content;
  margin-top: 4em;
  margin-left: 42%;
}

#introT h1 {
  font-weight: 1000;
  font-size: 2.2rem;
  line-height: 0.2;
  letter-spacing: -0.025em;
}

#introT h5 {
  font-weight: 550;
  line-height: 0.18em;
}

#introT p {
  width: 100%;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.4em;
  color: lightgrey;
}

#navbar {
  display: flex;
  justify-content: center;
  margin: 18em 5em 0% 0%;
}

ul {
  border: 1px solid yellow;
  text-align: center;
  list-style-type: none;
}

li {
  display: inline-block;
  border-radius: 2%;
  width: 4.5em;
  padding-right: 25px;
  padding-left: -80px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.65rem;
  color: lightgrey;
}

a:hover {
  color: white;
  border-bottom: 1px solid white;
}

#project-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  border: 1px solid orange;
}