@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  height: 100%;
  background: #141719;
  font-family: "Montserrat";
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#intro-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  border: 1px solid white;
}

#introT {
  color: white;
  width: fit-content;
  margin-top: 5.5em;
  margin-left: 45%;
}

#introT h1 {
  font-weight: 1000;
  font-size: 2.2rem;
  line-height: 0.5;
  letter-spacing: -0.025em;
}

#introT h5 {
  font-weight: 550;
  line-height: 1em;
  margin-bottom: 5px;
}

#introT p {
  width: 100%;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.4em;
  color: lightgrey;
}

#navbar {
  margin-top: 17em;
  width: 100%;
}

#navbar ul {
  border: 1px solid yellow;
  text-align: center;
  list-style-type: none;
}

#navbar li {
  display: inline-block;
  border-radius: 2%;
}

#navbar a {
  color: lightgrey;
}

#navbar a:hover {
  color: white;
  border-bottom: 1px solid white;
}

#project-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  border: 1px solid orange;
}